MEDUSA_ADMIN_ONBOARDING_TYPE=nextjs
STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,http://localhost:8000,https://docs.medusajs.com
DATABASE_URL=
REDIS_URL=redis://localhost:6389
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
AUTH_MFA_ENCRYPTION_KEY=
MEDUSA_ADMIN_ONBOARDING_NEXTJS_DIRECTORY=../storefront
# Stripe secret key (test mode to start). Required for checkout/payment capture to work.
STRIPE_API_KEY=
